
<!-- Left Menu -->
<ul id="location-list">
    <li>
        <a href="#select-your-location">Select Your Location</a>
        <ul><?php foreach ($this->getCollection() as $location): ?>
            <li>
                <a href="#location-<?php echo $location->getId() ?>"><?php echo $location->getLocationName() ?></a>
                <ul style="display:none;"><?php foreach ($location->getStores() as $store): ?>
                    <li><a href="#location-store-<?php echo $store->getId() ?>"><?php echo $store->getLocationStoreName() ?></a></li>
                <?php endforeach ?></ul>
            </li>
        <?php endforeach ?></ul>
    </li>
</ul>

 
<!-- Content -->
<div id="location-descriptions">

<div id="select-your-location">
    <p><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) ?>wysiwyg/our-stores-step-1_03.png" alt="" /></p>
</div>

<?php foreach ($this->getCollection() as $location): ?>
<div id="location-<?php echo $location->getId() ?>" class="hidden">

<div class="gallery"><?php foreach ($location->getImages() as $image): ?>
<img src="<?php echo $this->getLocationMediaUrl($image->getPath()) ?>" alt="<?php echo $image->getLabel() ?>" />
<?php endforeach ?></div>

</div>
<?php foreach ($location->getStores() as $store): ?>
<div id="location-store-<?php echo $store->getId() ?>" class="location-sub-section" style="display:none;">
<h2><?php echo $store->getLocationStoreName() ?></h2>
<div class="gallery"><?php foreach ($store->getImages() as $image): ?>
<img src="<?php echo $this->getLocationStoreMediaUrl($image->getPath()) ?>" alt="<?php echo $image->getLabel() ?>" />
<?php endforeach ?></div>
<?php echo $store->getContent() ?>
<div id="google-map-<?php echo $store->getId() ?>" class="google-map"><?php echo $store->getGoogleMap() ?></div>
</div>
<?php endforeach ?>
<?php endforeach ?>

</div>


