<?php echo Mage::getUrl('*/*/*', array('_current'=>true, '_use_rewrite'=>true)), Mage::app()->getStore()->getCurrentUrl(false);  ?>
<ul id="gallery-list">

<?php foreach ($this->getCollection() as $galleryItem): ?>
<li class="gallery-item">
    <a href="<?php echo $this->getItemUrl($galleryItem->getId()) ?>">
    <?php foreach ($galleryItem->getImages() as $image) : ?>
        <img src="<?php echo $this->getInstallationGalleryItemMediaUrl($image->getPath()) ?>" alt="<?php echo $image->getLabel() ?>" width="190" height="120" />
    <?php break; endforeach ?>
        <p><?php echo $galleryItem->getInstallationGalleryItemName() ?></p>
    </a>
</li>
<?php endforeach ?>

</ul>