<?php
$id = (int)Mage::app()->getRequest()->getParam('item_id');
$curentInstallation = $this->getInstallationGaleryItemById($id); ?>
<?php $neighbor = $this->getNeighborIds($id); echo '<hr />'; var_dump($neighbor,$this->getCollectionsIds()) ?>

<?php if (TRUE) : ?>
<h4 class="gallery-item-title">Case Study</h4>
<?php endif; ?>
<h2 class="gallery-item-title"><?php echo $curentInstallation->getInstallationGalleryItemName() ?></h2>

<div class="gallery-navigation">
    <div class="navigation-to-main">
        <a>&lt; Main Galery</a>
    </div>
    <?php if ($neighbor['prev'] !== false) : ?>
    <a>&lt; Previous Installation</a>
    <?php endif; ?>
    <?php if ($neighbor['next'] !== false) : ?>
    <a>&gt; Next Installation</a>
    <?php endif; ?>
</div>

<div class="galery-item-content">
    <div id="galery-slides">
        <div class="slides_container">
<?php foreach ($curentInstallation->getImages() as $image) : ?>
            <img src="<?php echo $this->getInstallationGalleryItemMediaUrl($image->getPath()) ?>" alt="<?php echo $image->getLabel() ?>" />
<?php endforeach; ?>
        </div>
        <div class="slider-navigations">
            <p>Exterior view</p>
            <a class="slider-next" href="#">Next</a>
            <a class="slider-prev" href="#">Previous</a>
        </div>
        <ul class="slider-pagination">
        </ul>
    </div>
    <div class="galery-description">ТУТ МОЖЕ БУТИ ВАША РЕКЛАМА</div>
    <div class="galery-dashboard">
        <div class="info-board">
            <table>
                <tr>
                    <th>Product Installed Before</th>
                    <th>Goodlight Replacement</th>
                </tr>
                <tr>
                    <td>sdgsdfhgfhfdgjg</td>
                    <td>sdhgfdjdjhgasdfsdfgfh</td>
                </tr>
            </table>
        </div>
        <div class="annual-saving-board">
            <table>
                <tr>
                    <th>Annual Energy Saving</th>
                    <th>Annual Financial Saving</th>
                    <th>Annual Carbon Saving</th>
                </tr>
                <tr>
                    <td>42.33</td>
                    <td>33.56</td>
                    <td>334.12</td>
                </tr>
            </table>
        </div>
    </div>
</div>